@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Righteous&family=Source+Code+Pro:wght@300&display=swap');
:root{
    --blue: #1E4E8C;
    --grey: #D6D7DC;
    --gold: #E4D094;
    --darkGold: #9B7E56;
    --black: #0A0A0C;
}

body{
    background-color: var(--blue);
    color: var(--grey);
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}
/*------TITLE-------*/
.titleDiv{
    font-family: 'Luckiest Guy', cursive;  
    margin-top: 40%;
    transition: margin-top 3s;
}
.title1{
    color: var(--gold);
    text-shadow: var(--darkGold);
    font-size: 42px;
    transition: font-size 3s;
}
.title2{
    font-family: 'Righteous', cursive; 
    color: var(--darkGold);
    text-shadow: var(--gold);
    font-size: 32px;
    transition: font-size 3s;
    margin-top: -20px;
}
.welcome{
    display: none;
    text-align: center;
}
.welText{
    font-family: 'Righteous', cursive; 
}
.instructions{
    text-align: center;
    text-justify: center;
    display: none;
}
.changeColour{
    font-size: 12px;
    display: none;
}
/*------TITLE END-------*/
/*------COLOURS-------*/
.colours{
    display: none;
    justify-content: space-evenly;
    margin-top: 3%;
}
.blue{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #083368;
}
.blue:hover{
    background-color: #9B7E56;
}
.monoChrome{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #000000;
    border-color: #000000;
}
.monoChrome:hover{
    background-color: #FFFFFF;
}
.red{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #C61A09;
}
.red:hover{
    background-color: #FFA590;
}
.green{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #82AC85;
}
.green:hover{
    background-color: #D1ACA5;
}
/*------COLOURS END-------*/
/*------OUTPUT-----*/
.keyInfo{
    display: none;
    justify-content: space-between;
}
.label{
    font-size: 24px;
    color: var(--black);
    margin-bottom: 1px;
    margin-top: 20px;
}
.labelMid{
    font-size: 38px;
    color: var(--blue);
    margin-top: 5px;
    margin-bottom: 1px;
}
.key{
    font-size: 70px;
    color: var(--blue);
    margin-top: 3px;
    font-family: 'Luckiest Guy', cursive; 
    padding: 2%;
}
.keyDiv{
    border-radius: 27%;
    background-color: var(--gold);
    height: 200px;
    margin: 7px;
}
.keyCode{
    font-size: 32px;
    color: var(--black);
    margin-top: 2px;
    padding: 2%;
}
.keyCodeDiv{
    border-radius: 37%;
    background-color: var(--grey);
    height: 120px;
    width: 300px;
    padding: 2%;
}
.locationDiv{
    border-radius: 35%;
    background-color: var(--grey);
    height: 120px;
    width: 300px;
    padding: 2%;
}
.location{
    font-size: 20px;
    color: var(--black);
}
/*------FOOTER-------*/
footer{
    display: flex;
    flex-direction: column;
    margin-top: 40vh;
}
.footer p{
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 12px;
}
.github{
    text-decoration: none;
    color: var(--darkGold);
}
footer a:hover{
    color: var(--black);
}